.smainrow{
    display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 100%; 
                    padding-top: 10vh;
                    padding-bottom: 10vh;
                    font-family:'Source Sans Pro'
}
.smainrow>.col-6>div>h3{
  color:#656565;
}
.smainrow>.col-6>div>h1{
  font-weight:bold;color: #161616;font-size:3rem;
}
.studentsection>.smainrow:nth-of-type(2n+1){
  background-color:#F7F7F7;
}
.studentsection>.smainrow:nth-of-type(2n+1)>.col-6:nth-child(1){
justify-content:center;
}
@media(max-width:768px){
    .smainrow{flex-direction:column-reverse};
  }

  #sfoot{justify-content:center;padding-bottom:5vh;height:25vh;padding-top:5vh}