.smainrow {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 100%;
  padding-top: 10vh;
  padding-bottom: 10vh;
  font-family: "Source Sans Pro";
}
.col-6 {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.col-6 > .row > h1 {
  font-weight: bold;
  color: #161616;
  font-size: 3rem;
}
.col-6 > .row > #aut {
  color: #606060;
  font-weight: bold;
}

.smainrow > .col-6 > div > p {
  color: #656565;
  font-weight: 600;
  font-size: 1.13rem
}
.smainrow > .col-6 > div > h1 {
  font-weight: bold;
  color: #161616;
  font-size: 3rem;
}
.aboutsection > .smainrow:nth-of-type(2n + 1) {
  background-color: #f7f7f7;
}
.aboutsection > .smainrow:nth-of-type(2n + 1) > .col-6:nth-child(1) {
  justify-content: center;
}
.aboutsection > .smainrow > .col-6 {
  padding: 3vw;
}
@media (max-width: 768px) {
  .smainrow,
  .smainrow1 {
    flex-direction: column-reverse;
  }
  .col-6 {
    padding: 1vw;
  }
}