.dmainrow {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 100%;
  padding-top: 10vh;
  padding-bottom: 10vh;
  font-family: "Source Sans Pro";
}
.dmainrowmain > .col-6 {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.dmainrowmain > .col-6 > .row > h1 {
  font-weight: bold;
  color: #2b2b2b;
  font-size: 3rem;
}
.dmainrowmain > .col-6 > .row > #aut {
  color: #606060;
  font-weight: bold;
}
.dmainrowmain > .col-6 > .row > h2 {
  color: #656565;
}
.dmainrow > .col-6 > div > p {
  color: #454545;
  font-weight: 500;
  font-size: 1.3rem;
}
.dmainrow > .col-6 > div > h1 {
  font-weight: bold;
  color: #2b2b2b;
  font-size: 3rem;
}
.depsection > .dmainrow:nth-of-type(2n + 1) {
  background-color: #fcfcfc;
}
.depsection > .dmainrow:nth-of-type(2n + 1) > .col-6:nth-child(1) {
  justify-content: center;
}
.depsection > .dmainrow > .col-6 {
  padding: 3vw;
}
.depabout {
  align-items: center;
  margin-left: 8%;
  margin-right: 8%;
}
.depabout > .row {
  display: flex;
  justify-content: center;
  align-items: center;
}
.depabout > .row > p {
  color: #454545;
  font-weight:500;
  font-size:1.3rem;
}
.depabout > .row > h1{
  font-weight: bold;
  color: #2b2b2b;
  font-size: 3rem;
}
@media (max-width: 768px) {
  .dmainrow1 {
    flex-direction: column-reverse;
  }
  .col-6 {
    padding: 1vw;
  }
  .dmainrowmain > .col-6 > .row > h1 {
  font-size: 2.5rem;
}
  .dmainrow > .col-6 > div > h1 {
    font-size: 1.8rem;
  }
  .dmainrow > .col-6 > div > p {
    font-size: 1rem;
  }
  .depabout>.row>h1{
    font-size: 1.8rem;
  }
  .depabout > .row > p {
  font-size:1rem;
}
}
