.eventcardwrap{
    width: 93%;
    padding: 10px;
    background: #ffffff;
    box-shadow: 0px 0px 26px rgba(207, 207, 207, 0.36);
    border-radius: 5px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    max-height: 110px;
}
.eventcarddetailsection{
    width: 93%;
}
.eventdtdiv{
    width:77px;
    height: 80px;
    min-width: 77px;
    min-height: 80px;
    max-height: 80px;
    border-radius: 2px;
    max-width: 77px;
    background-color: #FF9350;
}
.eventdtdiv > img{
position: absolute;
z-index: 0;
}
#eventmonth{
    display: flex;
    justify-content: center;
    height: 20px;
}
#eventdate{
    display: flex;
    justify-content: center;
    align-items: center;
    height:60px;
}
#eventdate > p {
    position: relative;
    color: #fff;
    font-size: 36px;
    line-height: 0;
    font-family: "Source Sans Pro";
    font-weight: bold;
}
.eventdtdiv > #eventmonth > p {
    line-height: 0.1;
    color: #ffffff;
    font-family: "Source Sans Pro";
    position: relative;
    z-index: 2;
}
#eventdtp{
    display:flex;
    justify-content:flex-end;
}
.eventcarddetail > a{
text-decoration: none;
color: #cd5a2f;
font-weight: 600;
}
#eventdtp >div {
    display: flex;
    align-items: center;
    margin-right:20px;
}
#eventdtp > div > img {
    height: 14px;
}
.efp {
    position: relative;
    bottom: 0;
    margin-bottom: 5px;
    color: #cd5a2f;
    font-size: 12px;
    font-weight: 600;
    text-align: right;
    font-family: "Source Sans Pro";
    margin-left: 5px;
}
.eventcarddetail{
    margin-left: 5%;
    font-size:16px;
    font-family: "Source Sans Pro";
    color:#4D4D4D;
}
@media(max-width:768px){
    .eventcarddetail{
        font-size:14px;
    }
    .efp{
        font-size: 10px;
    }
    #eventdtp > div >img {
        height: 12px;
    }
}
