.link-row{
 display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  height: auto;
  max-width: 100%;
  padding-left: 2%;
  padding-right: 2%;
}
.link-col{
    position: relative;
    width:50%;
    display: flex;
    height: 100%;
    justify-content: center;
}

@media(max-width:768px){
    .link-col{
        width: 100%;
    }
}