.newscard-box{
width: 265px;
height: 350px;
min-width: 265px;
min-height: 350px;
overflow: hidden;
box-shadow: 0px 4px 19px rgba(0, 0, 0, 0.28);
margin-left:40px;
border-radius: 20px;}
.card-img{
    height:60%;
    position: relative;
}
.news-read{
width: 90.6px;
height: 19.07px;
float:right;
margin-top:-15px;
margin-right:13px;
background: #CD5A2F;
border-radius: 11px;
color:white;
font-size: 0.8em;
display: flex;
justify-content: center;
align-items: center;
position: relative;
z-index: 1;
font-family:"Source Sans Pro";
}
.newscard-head{
    font-size:1.3rem;
    margin-top: -20px;
    padding-left: 5%;
}
.newscard-head>h4{
   font-family: Source Sans Pro; 
   font-style: normal;
font-weight: bold;
color: #4B4B4B;
font-family:"Source Sans Pro";
}
.newscard-head>h6{
    margin-top:-20px;
    color: rgba(0, 0, 0, 0.51);
    font-family:"Source Sans Pro";
}
.newscard-readmore{
    position: relative;
    float: right;
    margin-top: -20px;
    color: #CD5A2F;
    font-family:"Source Sans Pro";
    font-size: 11.5px;
    margin-right:10%;
}
