.box{
width: 265px;
height: 350px;
overflow: hidden;
box-shadow: 0px 4px 19px rgba(0, 0, 0, 0.28);
border-radius: 20px;}
.card-img{
    height:60%;
    position: relative;
    z-index: -1;
}
.read{
width: 90.6px;
height: 19.07px;
float:right;
margin-top:-5%;
margin-right:5%;
background: #CD5A2F;
border-radius: 11px;
color:white;
font-size: 0.8em;
display: flex;
justify-content: center;
}
.head{
    font-size:1.3rem;
    margin-top: -8%;
    padding-left: 5%;
}
.head>h4{
   font-family: Source Sans Pro; 
   font-style: normal;
font-weight: bold;
line-height: 24px;
color: #4B4B4B;
}
.head>h6{
    margin-top:-8%;
    color: rgba(0, 0, 0, 0.51);
}
.readmore{
    position: relative;
    float: right;
    margin-top: -5%;
    color: #CD5A2F;
    font-family: Roboto;
    font-size: 11.5px;
    margin-right:10%;
}
