.noticecard {
  width: 90%;
  padding: 5px 15px 5px 15px;
  background: #ffffff;
  box-shadow: 0px 0px 26px rgba(207, 207, 207, 0.36);
  border-radius: 5px;
  margin-top: 20px;
  max-height:100px;
}
.noticecarddetail{
  font-size: 16px;
  font-family: "Source Sans Pro";
  font-weight: 500;
}
@media(max-width:768px){
  .noticecarddetail{
    font-size: 14px;
  }
  .noticecard > #fp {
    font-size: 12px;
  }
}
.notet{
  position: relative;
  bottom: 0;
  margin-bottom: 5px;
  color: #7B7B7B;
  font-size: 14px;
  font-weight: 600;
  text-align: right;
  font-family: "Source Sans Pro";
  line-height: 0;
}
.notdown {
  text-decoration: none;
  position: relative;
  bottom: 0;
  margin-bottom: 5px;
  color: #cd5a2f;
  font-size: 14px;
  font-weight: 600;
  text-align: right;
  font-family: "Source Sans Pro";
  line-height: 0;
}
#notdate{
  display: flex;
  justify-content: flex-end;
}
#notdate > div {
  display: flex;
  align-items: flex-end;
  margin-left: 20px;
}
#notdownimg{
  margin-right: 8px;
  height: 14px;
}
