.noticecard {
  width: 93%;
  padding: 10px;
  background: #ffffff;
  box-shadow: 0px 0px 26px rgba(207, 207, 207, 0.36);
  border-radius: 20px;
  margin-top: 20px;
}
.noticecard > #fp {
  position: relative;
  bottom: 0;
  margin-bottom: 5px;
  color: #cd5a2f;
  text-align: right;
  font-family: "Source Sans Pro";
}
