.pmainrow {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 100%;
  padding-top: 10vh;
  padding-bottom: 10vh;
  font-family: "Source Sans Pro";
}
.pmainrowmain > .col-6 {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.pmainrowmain > .col-6 > .row > h1 {
  font-weight: bold;
  color: #161616;
  font-size: 3rem;
}
.pmainrowmain > .col-6 > .row > #aut {
  color: #606060;
  font-weight: bold;
}
.pmainrowmain > .col-6 > .row > h2 {
  color: #656565;
}
.pmainrow > .col-6 > div > h3 {
  color: #656565;
}
.pmainrow > .col-6 > div > h1 {
  font-weight: bold;
  color: #161616;
  font-size: 3rem;
}
.placsection > .pmainrow:nth-of-type(2n + 1) {
  background-color: #f7f7f7;
}
.placsection > .pmainrow:nth-of-type(2n + 1) > .col-6:nth-child(1) {
  justify-content: center;
}
.placsection > .pmainrow > .col-6 {
  padding: 3vw;
}
.placabout {
  align-items: center;
  margin-left: 8%;
  margin-right: 8%;
}
.placabout > .row {
  display: flex;
  justify-content: center;
  align-items: center;
}
.placabout > .row > h3 {
  color: #606060;
}
.rowmarr3 {
  margin-right: 3vw;
}
@media (max-width: 768px) {
  .pmainrow1 {
    flex-direction: column-reverse;
  }
  .col-6 {
    padding: 1vw;
  }
  .pmainrow > .col-6 > div > h1 {
    font-weight: bold;
    color: #161616;
    font-size: 2rem;
  }
}
.pfoot > .row {
  padding: 0vw 0vw 0vw 3vw;
}
.pfoot > .row > h1 {
  font-weight: bold;
  color: #161616;
  font-size: 3rem;
}
