@font-face {
  font-family: "Mangal";
  src: url("../assets/mangal.ttf");
}

@font-face {
  font-family: "Source Sans Pro";
  src: url("../assets/SourceSansPro.ttf");
}

@font-face {
  font-family: "Quicksand";
  src: url("../assets/Quicksand.ttf");
}

body {
  margin: 0;
  font-family: "Mangal" sans-serif, "Quicksand", "Source Sans Pro";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: "Mangal", "Quicksand", "Source Sans Pro";
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.imgwrap{
  width: 70%;
}
.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 100%;
}
.col-6 {
  width: calc(50% - 6vw);
}

.img-fluid {
  max-width: 100%;
  height: auto;
}
.imgcolstyle {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.rowmarr3 {
  margin-right: 3vw;
}
.rowmarl3{
  margin-left:6vw;
}
@media (max-width: 768px) {
  .col-6 {
    width: calc(100% - 6vw);
    max-width: 100vw;
    padding: 7.5px;
  }
  .imgwrap{
    width: 100%;
  }
  .rowmarl3{
    margin-left:0px;
  }
  .rowmarr3{
    margin-right: 0px;
  }
}