<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="Https-rewrite" stopProcessing="true">
                    <match url="(.*)" />
                    <conditions>
                        <add input="{HTTPS}" pattern="^OFF$" />
                    </conditions>
                    <action type="Redirect" url="https://{HTTP_HOST}/{REQUEST_URI}" appendQueryString="false" />
                </rule>
            </rules>
        </rewrite>
        <httpErrors>
            <remove statusCode="404" subStatusCode="-1" />
            <error statusCode="404" prefixLanguageFilePath="" path="/404" responseMode="ExecuteURL" />
            <remove statusCode="500" subStatusCode="-1" />
            <!-- <remove statusCode="403" subStatusCode="-1" /> -->
            <remove statusCode="503" subStatusCode="-1" />

            <!-- Custom error pages for each status code -->
            <error statusCode="500" prefixLanguageFilePath="" path="/500.html" responseMode="File" />
            <!-- <error statusCode="403" prefixLanguageFilePath="" path="/403.html" responseMode="File" /> -->
            <error statusCode="503" prefixLanguageFilePath="" path="/503.html" responseMode="File" />
        </httpErrors>
    </system.webServer>
</configuration>
