 #__next{
  max-width:100vw;
  padding: 0;
  margin: 0px 0px 0px 0px;
}
body{
  padding: 0px 0px 0px 0px;
   margin:0px 0px 0px 0px;
    margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue','Mangal'
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; max-width:100vw;
      background-color: #F7F7F7;
}