.admainrow {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 100%;
  padding-top: 10vh;
  padding-bottom: 10vh;
  font-family: "Source Sans Pro";
}
.admainrowmain > .col-6 {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.admainrowmain > .col-6 > .row > h1 {
  font-weight: bold;
  color: #2b2b2b;
  font-size: 3rem;
}
.admainrowmain > .col-6 > .row > #aut {
  color: #606060;
  font-weight: bold;
}
.admainrowmain > .col-6 > .row > h2 {
  color: #454545;
}

.adminsection > .admainrow:nth-of-type(2n + 1) {
  background-color: #fcfcfc;
}
.adminsection > .admainrow:nth-of-type(2n + 1) > .col-6:nth-child(1) {
  justify-content: center;
}
.adminsection > .admainrow > .col-6 {
  padding: 3vw;
}
.addeanrow{
  display: flex;
}
.addeanrow>.col-4{
  width:30%;
  justify-content: center;
  display: grid;
  margin: 1%;
}
@media(max-width: 1200px){
  .addeanrow>.col-4{
    width:45%;
  }
}
@media(max-width: 768px){
  .addeanrow>.col-4{
    width:100%;
  }
}
@media (max-width: 768px) {
  .admainrow1 {
    flex-direction: column-reverse;
  }
  .col-6 {
    padding: 1vw;
  }
  .admainrow > div > h1 {
    font-weight: bold;
    color: #2b2b2b;
    font-size: 1.8rem;
  }
  
}

