.nav-row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 100vw;
  height: 4.8vw;
  position: fixed;
  background-color: #f7f7f7;
  z-index: 5;
}
.nav-link-row {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  margin-top: 4.8vw;
  width: 100vw;
  height: 3vw;
  padding-left: 3vw;
  background-color: black;
  opacity: 0.8;
  z-index: 1;
  position: fixed;
  box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.25);
}
.nav-row {
  min-height: 8vh;
}
.logobadge {
  position: relative;
  background-color: #e47f40;
  border-radius: 0px 0px 40% 40%;
  max-height: 11vw;
  z-index: 5;
}
.logobadge > h4 {
  display: flex;
  justify-content: center;
  font-family: "Mangal";
  color: white;
  margin-bottom: 0px;
  line-height: 1;
  font-weight: normal;
  font-size: 1vw;
  z-index: 5;
}
.logobadge > div > img {
  max-height: 8vw;
  border: 0.5vw solid #e47f40;
  border-radius: 50%;
  display: flex;
  box-shadow: inset 0px 40px 50px rgba(0, 0, 0, 0.25);
  z-index: 5;
}
.nav-col {
  width: 42%;
  height: 4vw;
  max-height: 4vw;
  padding-left: 3vw;
  padding-top: 0.5vw;
}
.nav-col > h2 {
  margin-bottom: 0;
  font-size: 1.3vw;
  line-height: 0.3rem;
  font-family: "Source Sans Pro";
  font-weight: 900;
}
.nav-col > h4 {
  font-family: "Mangal";
  font-size: 0.9vw;
  line-height: 0.3rem;
}
.mobilelogo {
  display: none;
  margin-left: 10px;
}
.nav-toggle {
  display: none;
}
@media (max-width: 768px) {
  .nav-col {
    width: 70%;
    max-width: 70vw;
    color: #313131;
  }
  .nav-col > h2 {
    font-size: 2.6vw;
  }
  .nav-link-row {
    display: none;
  }
  .nav-toggle {
    display: block;
    position: relative;
    max-width: 10%;
    border: none;
    background: transparent;
    max-height: 10vh;
  }
  .nav-toggle > img {
    max-height: 10vh;
    max-width: 10vw;
  }
  .nav-col > h4 {
    font-size: 1.8vw;
  }

  .mobilelogo {
    display: block;
    padding-right: 10px;
  }
  .mobilelogo > img {
    max-height: 8vh;
  }
  .logobadge {
    display: none;
  }
  .nav-row {
    align-items: center;
  }
}
@media (max-width: 500px) {
  .nav-col > h4 {
    font-size: 1.5vw;
  }
  .nav-col > h2 {
    font-size: 2vw;
  }
  .nav-col {
    width: 60%;
  }
}
.nav-sidebar {
  display: none;
  min-height: 100vh;
  position: absolute;
  top: 0;
  float: right;
  z-index: 7;
  background: #fff;
  min-width: 280px;
  width: 280px;
  max-width: 90vw;
  justify-content: center;
  padding-top: 10px;
}

.nav-sidebar > div {
  display: flex;
  justify-content: center;
}
