.nav-row{
    display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 100vw;
  height:10vh;
  position: fixed;
  background-color: #f7f7f7;
  z-index: 5;
}
.nav-link-row{
    display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  margin-top:10vh;
  flex-wrap: wrap;
  width: 100vw;
  height:7vh;
  padding-left: 3vw;
  background-color: black;
  opacity: 0.5;
  position: fixed;
}
.logobadge{
  position: relative;
  background-color: #E47F40;
  border-radius: 0px 0px 40% 40%;
  max-height: 22vh;
}
.logobadge>h4{
  font-family: 'Mangal';
  color: white;
  margin-bottom: 0px;
  line-height: 1;
  margin-left: 1.2vh;
  font-weight: normal;
  font-size: 2vh;
}
.logobadge>img{
  max-height: 15vh;
  border:1.5vh solid #E47F40;
  border-radius: 50%;
}
.nav-col{
  width:42%;
  max-height: 10vh;
 padding-left: 3vw;
padding-top: 1vh;
}
.nav-col>h2{
  margin-bottom: 0;
  font-size: 1.3vw;
  line-height: 0.6rem;
}
.nav-col>h4{
  font-family: 'Mangal';
  font-size: 0.9vw;
  line-height: 0.6rem;
}
.mobilelogo{
  display: none;
}
.nav-toggle{
    display: none;
  }
@media(max-width:768px){
  .nav-col{
    width:70%;
    max-width: 70vw;
    color: #313131;
  }
  .nav-col>h2{
    font-size: 2.6vw;
  }
  .nav-link-row{
    display: none;
  }
  .nav-toggle{
    display: block;
    position: relative;
    max-width:10%;
    border: none;
    background:transparent;
    max-height: 10vh;
    padding: 0px 0px 0px 0px;
    }
    .nav-toggle>img{
      max-height:10vh;
      max-width: 10vw;
    }
  .nav-col>h4{
    font-size: 1.8vw;
  }
 
  .mobilelogo{
    display: block;
    padding-right: 10px;
  }
  .mobilelogo>img{
    max-height: 8vh;
  }
  .logobadge{
    display: none;
  }
  .nav-row{
    align-items: center;
  }
}
@media(max-width:500px){
    .nav-col>h4{
    font-size: 1.5vw;
  }
   .nav-col>h2{
    font-size: 2vw;
  }
  .nav-col{
    width:60%;
  }
}
