.acmainrow {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 100%;
  padding-top: 10vh;
  padding-bottom: 10vh;
  font-family: "Source Sans Pro";
}
#acadnoticewrap{
  height: 400px;
  overflow: hidden;
  min-width: 80%;
  overflow-y: scroll;
  scrollbar-width: none;
}
.acmainrowmain > .col-6 {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.acmainrowmain > .col-6 > .row > h1 {
  font-weight: bold;
  color: #2b2b2b;
  font-size: 3rem;
}
.acmainrowmain > .col-6 > .row > #aut {
  color: #606060;
  font-weight: bold;
}
.acmainrowmain > .col-6 > .row > h2 {
  color: #454545;
}

.acmainrow > .col-6 > div > h1 {
  color: #2b2b2b;
  font-size: 2.5rem;
}
.acadsection > .acmainrow:nth-of-type(2n + 1) {
  background-color: #fcfcfc;
}
.acadsection > .acmainrow:nth-of-type(2n + 1) > .col-6:nth-child(1) {
  justify-content: center;
}
.acadsection > .acmainrow > .col-6 {
  padding: 3vw;
}
@media (max-width: 768px) {
  .acmainrow1 {
    flex-direction: column-reverse;
  }
  .col-6 {
    padding: 1vw;
  }
  .acmainrow > .col-6 > div > h1 {
    font-weight: bold;
    color: #2b2b2b;
    font-size: 1.8rem;
  }
  
}

