.acmainrow {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 100%;
  padding-top: 10vh;
  padding-bottom: 10vh;
  font-family: "Source Sans Pro";
}
.acmainrowmain > .col-6 {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.acmainrowmain > .col-6 > .row > h1 {
  font-weight: bold;
  color: #161616;
  font-size: 3rem;
}
.acmainrowmain > .col-6 > .row > #aut {
  color: #606060;
  font-weight: bold;
}
.acmainrowmain > .col-6 > .row > h2 {
  color: #656565;
}
.acmainrow > .col-6 > div > h3 {
  color: #947272;
}
.acmainrow > .col-6 > div > h1 {
  font-weight: bold;
  color: #161616;
  font-size: 3rem;
}
.acadsection > .acmainrow:nth-of-type(2n + 1) {
  background-color: #f7f7f7;
}
.acadsection > .acmainrow:nth-of-type(2n + 1) > .col-6:nth-child(1) {
  justify-content: center;
}
.acadsection > .acmainrow > .col-6 {
  padding: 3vw;
}
.rowmarr3 {
  margin-right: 3vw;
}
.rowmarl3{
  margin-left:6vw;
}
@media (max-width: 768px) {
  .acmainrow1 {
    flex-direction: column-reverse;
  }
  .col-6 {
    padding: 1vw;
  }
  .acmainrow > .col-6 > div > h1 {
    font-weight: bold;
    color: #161616;
    font-size: 2rem;
  }
  .rowmarl3{
    margin-left:0px;
  }
}

